.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Code-Input {
  color: royalblue;
  background-color: peachpuff;

  font-size: calc(10px + 2vmin);
}
.Operator-Input {
  color: royalblue;
  /* background-color: coral; */
  width: calc(20px + 2vmin);
  font-size: calc(10px + 2vmin);
}
.Underline {
  width: 20vw;
}

.Equation {
  display: flex;
  /*  background-color: aliceblue;*/
  justify-content: right;
  align-items: flex-end;
  flex-direction: column;
}
.Form {
  display: flex;
  /* background-color: rebeccapurple; */
  align-items: center;
  flex-direction: column;
}
.SingleLine {
  display: flex;
  /* background-color: red; */
  align-items: center;
  flex-direction: row;
}
